<p id="notice"><%= notice %></p>

<h1>Listing Complaints</h1>

<table>
  <thead>
    <tr>
      <th>Case summary</th>
      <th>Case status</th>
      <th>Case created</th>
      <th>Case closed</th>
      <th>First call resolution</th>
      <th>Customer zip code</th>
      <th>Incident address one</th>
      <th>Incident address two</th>
      <th>Incident intersection one</th>
      <th>Incident intersection two</th>
      <th>Incident zip code</th>
      <th>Longtitude</th>
      <th>Latitude</th>
      <th>Agency</th>
      <th>Major area</th>
      <th>Type</th>
      <th>Topic</th>
      <th>Council district</th>
      <th>Police district</th>
      <th>Neighborhood</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= complaint.case_summary %></td>
        <td><%= complaint.case_status %></td>
        <td><%= complaint.case_created %></td>
        <td><%= complaint.case_closed %></td>
        <td><%= complaint.first_call_resolution %></td>
        <td><%= complaint.customer_zip_code %></td>
        <td><%= complaint.incident_address_one %></td>
        <td><%= complaint.incident_address_two %></td>
        <td><%= complaint.incident_intersection_one %></td>
        <td><%= complaint.incident_intersection_two %></td>
        <td><%= complaint.incident_zip_code %></td>
        <td><%= complaint.longtitude %></td>
        <td><%= complaint.latitude %></td>
        <td><%= complaint.agency %></td>
        <td><%= complaint.major_area %></td>
        <td><%= complaint.type %></td>
        <td><%= complaint.topic %></td>
        <td><%= complaint.council_district %></td>
        <td><%= complaint.police_district %></td>
        <td><%= complaint.neighborhood %></td>
        <td><%= link_to 'Show', complaint %></td>
        <td><%= link_to 'Edit', edit_complaint_path(complaint) %></td>
        <td><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Complaint', new_complaint_path %>
