<p id="notice"><%= notice %></p>

<p>
  <strong>Case summary:</strong>
  <%= @complaint.case_summary %>
</p>

<p>
  <strong>Case status:</strong>
  <%= @complaint.case_status %>
</p>

<p>
  <strong>Case created:</strong>
  <%= @complaint.case_created %>
</p>

<p>
  <strong>Case closed:</strong>
  <%= @complaint.case_closed %>
</p>

<p>
  <strong>First call resolution:</strong>
  <%= @complaint.first_call_resolution %>
</p>

<p>
  <strong>Customer zip code:</strong>
  <%= @complaint.customer_zip_code %>
</p>

<p>
  <strong>Incident address one:</strong>
  <%= @complaint.incident_address_one %>
</p>

<p>
  <strong>Incident address two:</strong>
  <%= @complaint.incident_address_two %>
</p>

<p>
  <strong>Incident intersection one:</strong>
  <%= @complaint.incident_intersection_one %>
</p>

<p>
  <strong>Incident intersection two:</strong>
  <%= @complaint.incident_intersection_two %>
</p>

<p>
  <strong>Incident zip code:</strong>
  <%= @complaint.incident_zip_code %>
</p>

<p>
  <strong>Longtitude:</strong>
  <%= @complaint.longtitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @complaint.latitude %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @complaint.agency %>
</p>

<p>
  <strong>Major area:</strong>
  <%= @complaint.major_area %>
</p>

<p>
  <strong>Type:</strong>
  <%= @complaint.type %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @complaint.topic %>
</p>

<p>
  <strong>Council district:</strong>
  <%= @complaint.council_district %>
</p>

<p>
  <strong>Police district:</strong>
  <%= @complaint.police_district %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @complaint.neighborhood %>
</p>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
